<?xml version="1.0"?>
<config>
    <modules>
        <CGD_AttributeFix>
            <version>1.0.0</version>
        </CGD_AttributeFix>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <CGD_AttributeFix before="Mage_Adminhtml">CGD_AttributeFix</CGD_AttributeFix>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
